body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFF;
}
*{
    text-decoration: none;
}
.navbar {
    background-color:#151d21;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a {
    font-size: 35px;
    font-weight: 600;
    color: #ff7a7a;
}
li {
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
li a:hover{
    color:#ff7a7a;
}
.Center-Title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 34px;
}

.dissabled{
    opacity: 0.6;
    cursor: not-allowed;
}
.A {
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.A:hover{
    color: #ff7a7a;
}
